<% content_for(:breadcrumbs) do %>
<li>
  <%= link_to 'Evaluations', evaluations_path %>
</li>
<li>
  <%= link_to 'Pull Request', evaluations_pull_requests_path %>
</li>
<li class="is-active">
  <%= link_to 'Add Evaluation', new_evaluations_pull_request_path %>
</li>
<% end %>

<h1 class="title">New Pull Request Evaluation</h1>
<p class="subtitle is-6">All the submissions to evaluation are through pull-request</p>
<hr>

<%= render 'form', pull_request_evaluation: @evaluation %>
