<h1>Editing Repository Evaluation</h1>

<%= render 'form', repository_evaluation: @repository_evaluation %>

<%= link_to 'Show', @repository_evaluation %> |
<%= link_to 'Back', repository_evaluations_path %>
