<% content_for(:breadcrumbs) do %>
<li>
  <%= link_to 'Evaluations', evaluations_path %>
</li>
<li>
  <%= link_to 'Repository', evaluations_repositories_path %>
</li>
<li class="is-active">
  <%= link_to 'Add Evaluation', new_evaluations_repository_path %>
</li>
<% end %>

<h1 class="title">New Repository Evaluation</h1>
<p class="subtitle is-6">All the submissions to evaluation contain the urls to the repository</p>
<hr>

<%= render 'form', repository_evaluation: @evaluation %>
