<section class="hero is-info is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome to Evalua!</h1>
      <h2 class="subtitle">Coding evaluation tool from developers to developers</h2>
    </div>
  </div>
</section>
