<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Evalua</h1>
      <h2 class="subtitle">
        Coding class evaluation from developers to developers
      </h2>
    </div>
  </div>
</section>
