<aside class="menu" id="mainMenu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><%= link_to 'Dashboard', dashboard_path, class: active_menu_class('dashboards') %></li>
    <li><%= link_to 'Rubrics', rubrics_path, class: active_menu_class('rubrics') %></li>
    <li><%= link_to 'Evaluations', evaluations_path, class: active_menu_class('evaluations') %></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a>Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
  </ul>
</aside>
