<aside class="menu" id="mainMenu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><%= link_to 'Rubrics', rubrics_path, class: active_menu_class('rubrics') %></li>
    <li><%= link_to 'Evaluations', evaluations_path, class: active_menu_class('evaluations') %></li>
  </ul>
  <% if current_user.admin? %>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><%= link_to 'Users', users_path, class: active_menu_class('users') %></li>
  </ul>
  <% end %>
</aside>
